* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: rgba(2, 6, 11, 0.908);
  height: 100vh;
}
button {
  transition: 0.5s !important;
}

/* start nav  */

.navbar {
  background-color: black;
  color: white;
  box-shadow: 0px 15px 22px rgb(12, 11, 11);
  height: 70px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav_btn {
  width: 200px;
}
.navbar .nav-link {
  color: white !important;
  font-weight: bold;
}
.navbar .nav-item {
  position: relative;
  margin: 0 10px;
}
.navbar .nav-item::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: aqua;
  top: 100%;
  left: 0;
  transition: 0.5s;
}
.navbar .nav-item:hover::before {
  width: 100%;
}
.navbar .navbar-brand {
  color: white !important;
  font-weight: bold;
}
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba(2, 6, 11, 0.908);
    margin-top: 3%;
    padding: 10px;
    border-radius: 15px;
  }
  .navbar .nav_btn {
    margin-top: 15px;
  }
}

/* end nav  */

/* start header  */
header .container {
    display:  flex;
    align-items: center;
     gap: 20px;
}
header .container .content .stars {
  color: gold;
  display: flex;
  padding: 7px;
  border-radius: 20px;
  align-items: center;
  border: 1px solid orange;
  width: 40%;
  justify-content: center;
}
header .container .content .stars p {
  margin: 0 10px;
  color: white;
}
header .container .content .text h2 {
  color: white;
  font-weight: bold;
  font-size: 55px;
  margin: 20px 0;
}
header .container .content .text p {
  color: gray;
  font-size: 20px;
  margin: 20px 0px;
}
header .container .content .btns {
  display: flex;
  gap: 20px;
  align-items: center;
    margin: 20px 0px;

}
header .container .content .btns button {
  width: 250px;
  height: 50px;
  padding: 7px;
  font-size: 20px;
}

/* left side  */
header .container .left_side {
    width: 50%;
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s;
    transform-style: preserve-3d;
    will-change: transform;
}
header .container .left_side .bottom_part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
header .container .left_side .bottom_part i {
    color: aqua;
    font-size: 100px;
    filter: drop-shadow(0 0 15px rgb(1, 182, 182));
}
/* end header  */
