* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: rgba(2, 6, 11, 0.908);
  height: 100vh;
}
button {
  transition: 0.5s !important;
}
:root{
    --main-color:#00d1ff;
    --glass-color:#1a2226;
    --border-color:#233a3e;
    --p-color:rgba(143, 158, 179);
}
.home ,
.services{
    min-height: 100vh;
    background-color: black; 
    
    background-image: 
      linear-gradient(to right, #121111 1px, transparent 0.8px),
      linear-gradient(to bottom, #121111 1px, transparent 0.8px);
    
    background-size: 60px 60px;
  }
/* start nav  */

.navbar {
  background-color: black;
  color: white;
  box-shadow: 0px 15px 22px rgb(12, 11, 11);
  height: 70px;
  
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav_btn {
  width: 200px;
}
.navbar .nav-link {
  color: white !important;
  font-weight: bold;
}
.navbar .nav-item {
  position: relative;
  margin: 0 10px;
}
.navbar .nav-item::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: aqua;
  top: 100%;
  left: 0;
  transition: 0.5s;
}
.navbar .nav-item:hover::before {
  width: 100%;
}
.navbar .navbar-brand {
  color: white !important;
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba(2, 6, 11, 0.908);
    margin-top: 3%;
    padding: 10px;
    border-radius: 15px;
  }
  .navbar .nav_btn {
    margin-top: 15px;
  }
}

/* end nav  */
 /* start header */
header .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* LEFT SIDE */
header .container .left_side {
    width: 50%;
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s;
    transform-style: preserve-3d;
    will-change: transform;
}

header .container .left_side .bottom_part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

header .container .left_side .bottom_part i {
    color: aqua;
    font-size: 100px;
    filter: drop-shadow(0 0 15px rgb(1, 182, 182));
}

/* CONTENT */
header .container .content .stars {
    color: gold;
    display: flex;
    padding: 7px;
    border-radius: 20px;
    align-items: center;
    border: 1px solid orange;
    width: 40%;
    justify-content: center;
}

header .container .content .stars p {
    margin: 0 10px;
    color: white;
}

header .container .content .text h2 {
    color: white;
    font-weight: bold;
    font-size: 55px;
    margin: 20px 0;
}

header .container .content .text p {
    color: gray;
    font-size: 20px;
    margin: 20px 0px;
}

header .container .content .btns {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px 0px;
}

header .container .content .btns button {
    width: 250px;
    height: 50px;
    padding: 7px;
    font-size: 20px;
}

  .home .content{
    margin-top: 50px;
  }
  .home #box{
    margin-top:50px;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 23, 24,70%);
  }
 
/* ================= RESPONSIVE ================= */

/* tablets */
@media (max-width: 991px) {
    header .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .container .left_side {
        width: 100%;
        margin: auto;
    }

    header .container .content .stars {
        width: 100%;
        justify-content: center;
    }
}

/* mobile */
@media (max-width: 640px) {

    header .container .content .btns {
        flex-direction: column;
        width: 100%;
    }

    header .container .content .btns button {
        width: 100%;
    }

    header .container .content .text h2 {
        font-size: 28px;
    }

    header .container .content .text p {
        font-size: 16px;
    }
}

/* end header */

/* Start About section */
.about{
    min-height: 100vh;
    margin-top: 100px;
}
.about .container{
    text-align: center;
}
.about .grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px; 
    padding: 40px;
}
.about .card{
    background-color: rgba(25, 26, 29,50%);
    border:1px solid rgb(60, 60, 60);
    border-radius:20px;
    padding: 10px 10px;
    cursor: pointer;
    transition:0.6s;
}
.about .card:hover{
    border-color:var(--glass-color) ;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
}
.about .icon-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .about .icon-box i {
    color: #00d1ff;           
    background-color: #1a2226; 
    width: 60px;                
    height: 60px;
    font-size: 30px;           
    border-radius: 15px;       
    border: 1px solid #233a3e;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ;
}
.about .card-text{
    color:var(--p-color);
    line-height: 1.8;
}

/* TimeLine section */
.timeline-section{
    position: relative;
    min-height: 100vh;
}
 
  .progress-container {
    position: absolute;
    right: 70px;
    top: 15%;    
    height: 65%;  
    width: 6px;
    background-color: var(--glass-color);
    border-radius: 10px;
    overflow: hidden; 
}

.progress-bar {
    width: 100%;
    height: 100%; 
    background: var(--main-color);
    transform: scaleY(0);
    transform-origin: top;
    transition:  0.8s ;
}
  .timeline .content {
    font-size: smaller;
    padding: 20px 30px;
    background-color:rgba(25, 27, 31);
    border:1px solid var(--border-color);
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
  }
  .timeline .content:hover{
    border-color: var(--main-color);
  }
  .timeline .content {
    font-size: smaller;
  }
  .timeline .content p{
    color:var(--p-color);
  } 

@media (max-width: 768px) {
    .progress-container {
        display: none ;
    }
}


/* Start services section */
.services{
    padding-top: 50px;
    min-height: 100vh;
}
/* .services .services-content {
    margin-top: 300px;
} */
.services .container p{
   color:var(--p-color);
}
.services .grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px; 
    padding: 40px;
}

.services .card{
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 23, 24,70%);
    border:1px solid rgb(60, 60, 60);
    border-radius:20px;
    padding: 10px 10px;
    cursor: pointer;
    overflow:hidden;
    transition:0.8s;
}

.services .card::after {
    content: '';
    position: absolute;
    width: 150%; 
    height: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(0, 209, 255, 0.15) 0%, rgba(20, 23, 24, 0) 50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0; 
}
.services .card:hover::after {
    opacity: 1;
}
.services .card:hover{
    border-color:var(--main-color) ;
}
.services .icon-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .services .icon-box i {
    color: var(--main-color);           
    background-color: #1a2226; 
    width: 60px;                
    height: 60px;
    font-size: 30px;           
    border-radius: 15px;       
    border: 1px solid #233a3e;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ;
}
.services .card-text{
    color:var(--p-color);
    line-height: 1.8;
}

/* start slide */
 .slide_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_section .swiper {
  width: 60%;
}

.swiper-slide {
 
  height: 200px;
  color: white;
  font-size: 24px;
  border-radius: 10px;
}

.swiper-slide .stars {
  color: gold;
 }
@media (max-width: 768px) {
  .slide_section .swiper {
    width: 70%;
    
  }
}
 
.custom-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

 .swiper-button-next,
.swiper-button-prev {
  position: static !important;
  margin: 0;
}

 .swiper-button-next,
.swiper-button-prev {
  background: rgba(0,0,0,0.6);
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
 transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: aqua;
  

}
 .swiper-button-next:hover i,
.swiper-button-prev:hover i {
  
  color: black;

}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;  
}

.swiper-button-next i,
.swiper-button-prev i {
  color: white;
  font-size: 18px;
  transition: 0.5s;
}
 .swiper-button-next:hover i,
.swiper-button-prev:hover i {
  
  color: black;

}
/* end slide  */
